<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SistemaImoveis</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>


<app-imovel>
    <h1>Imóveis</h1>

  <form [formGroup]="imovelForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome" required>
    </div>
    <div>
      <label for="cep">CEP:</label>
      <input type="text" id="cep" formControlName="endereco.cep" required>
      <!-- <button type="button" (click)="consultarCEP()">Consultar CEP</button>-->
      <button type="button" (click)="getCep()">Consultar CEP</button>>
    </div>
    <div>
      <label for="rua">Rua:</label>
      <input type="text" id="rua" formControlName="endereco.rua" [readonly]="true">
    </div>
    <div>
      <label for="numero">Número:</label>
      <input type="text" id="numero" formControlName="endereco.numero">
    </div>
    <div>
      <label for="telefone">Telefone:</label>
      <input type="text" id="telefone" formControlName="telefone">
    </div>
    
    <!-- Restante dos campos do formulário -->

    <button type="submit" [disabled]="!imovelForm.valid">Salvar</button>
  </form>

  <table>
    <tr *ngFor="let imovel of imoveis">
      <td>{{ imovel.nome }}</td>
      <td>{{ imovel.endereco.rua }}, {{ imovel.endereco.numero }}</td>
      <td>{{ imovel.telefone }}</td>
      
      <!-- Restante das colunas da tabela -->
      <td>
        <button (click)="deleteImovel(imovel)">Excluir</button>
        <!-- <button *ngIf="editarImovel" (click)="editarImovel()">Editar</button> -->
        <button *ngIf="editarImovel" (click)="toggleEditarImovel()">Editar</button>

      </td>
    </tr>
  </table>
</app-imovel>
</body>
</html>
